<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.justin.person.dao.PersonDao" >
    <resultMap id="BaseResultMap" type="com.justin.person.domain.Person" >
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="name" property="name" jdbcType="VARCHAR" />
        <result column="pwd" property="pwd" jdbcType="VARCHAR" />
        <result column="sex" property="sex" jdbcType="CHAR" />
        <result column="mobile" property="mobile" jdbcType="VARCHAR" />
        <result column="email" property="email" jdbcType="VARCHAR" />
        <result column="avatar" property="avatar" jdbcType="VARCHAR" />
        <result column="status" property="status" jdbcType="TINYINT" />
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>
    <sql id="Base_Column_List" >
        `id`,`name`,`sex`,`mobile`,`email`,`avatar`,`status`,`create_time`,`update_time`
    </sql>
    <select id="loginSelectList" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />,`pwd`
        from `person`
    </select>
    <select id="visitorSelectList" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from `person`
    </select>
    <select id="ifExists" resultType="int" parameterType="map">
        select count(*) from `person` where `name`=#{name} and `pwd`=#{pwd}
    </select>
    <insert id="insert" parameterType="com.justin.person.domain.Person">
        insert into `person`
        (`name`,`pwd`,`sex`,`mobile`,`email`,`avatar`,`status`,`create_time`,`update_time`)
        values (#{name},#{pwd},#{sex},#{mobile},#{email},#{avatar},#{status},now(),now())
    </insert>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from `person` where `id`=#{id}
    </delete>
    <update id="updateByPrimaryKey" parameterType="com.justin.person.domain.Person">
        update `person`
        set `name`=#{name},`pwd`=#{pwd},`sex`=#{sex},`mobile`=#{mobile},
        `email`=#{email},`avatar`=#{avatar},`status`=#{status},`update_time`=now()
        where `id`=#{id}
    </update>
</mapper>